<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MARS INFO!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>{{mars_deets.title}}</p>
            <!-- <p>{{mars_deets.news_p}}</p>
            <p>{{mars_deets.featured_image_url}}</p>
            <p>{{mars_deets.mars_weather}}</p>
            <p>{{mars_deets.marsFacts}}</p>
            <p>{{mars_deets.hemisphere_image_urls}}</p> -->


        </div>
    </div>




</body>
</html>