<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MARS INFO!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
        <div class="jumbotron text-center" style = "background-color: #b80f0a; color: white ">
          <h1>Mission to Mars</h1>
          <p><a class="btn btn-primary btn-lg" style = "background-color: #7c0a02; border-color: #7c0a02;"  href="/scrape" role="button">Get New Data!</a></p>
        </div>
    

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 style = "color: #b80f0a; text-decoration: underline;">Latest Mars News</h2>
                    <h4>{{mars_deets.title}}</h4>
                    <p>{{mars_deets.news}}</p>
                </div>
            </div>
            <div class = "row">
                <div class="col-md-8">
                    <h2 style = "color: #b80f0a; text-decoration: underline;">Featured Mars Image</h2>
                    <img class="featImage" src="{{mars_deets.featured_image}}" width =90%>
                </div>
                <div class = "col-md-4">
                    <h3 style = "color: #b80f0a; text-decoration: underline;">Current Weather On Mars</h3>
                    <p>{{mars_deets.weather}}</p>

                    <h3 style = "color: #b80f0a; text-decoration: underline;">Mars Facts</h3>
                    <table>
                        {{mars_deets.facts|safe}}
                    </table>
                </div>
            </div>

            <br>
            <h2 align = "center " style = "color: #b80f0a; text-decoration: underline;">Mars Hemispheres</h2>
            <hr>
            
            <div class='card-deck'>
            <div align="center" class='col-md-12'>
                <div class="row">
                    {% for item in mars_deets.hemisphere_images %}
                    <div class="col-md-6">
                        <div class="card text-white bg-dark" style="margin: 30px;">
                            <img class="card-img-top" src="{{item.URL}}" width=75%>
                            <div class="card-body">
                                <h3 class="card-text">{{ item.title }}</h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
    
        </div>

</body>
</html>